
<div id="app-6" style="max-width:800px;">
  <p>We're looking for people who can help us share our giveaway and you will be paid for each clicks people click on your link (whereever you share..FB, FB Groups, Whatsapp, blog etc.).</p>
  <p>Our Giveaway page: <a href="https://www.lapro.io/supports/c_giveaway_disneyplus/" target="_blank">Check the giveaway...THIS IS NOT YOUR UNIQUE LINK.</a>
  <p>Enter your mturk ID below and get your UNIQUE LINK:</p>
  <p>1.<b>Enter your mturk ID:</b></p>
  <input v-model="mid" placehoder="Enter your mturk ID">
  <p>2. copy following link - YOUR UNIQUE LINK:</p>
  
  <p style="background-color:grey; padding:5px; color:blue;" v-if="mid != ''">
	  https://www.lapro.io/supports/c_giveaway_disneyplus/?utm_source=mt&utm_campaign={{ mid }}
</p>
  <hr>
  <p>Rules:</p>
  <p>
    	Get paid to share a link. </p>
	
	<p>The HIT is paid when you click the link, answer the question below and share it.  You will be awarded a bonus after 72 hours when we calculate the unique IP traffic you bring to us (This link is unique to you).  You will be able to earn up to $10 for the simple sharing.</p>
	
	<p>Your pay is dynamic and depends on the quality of traffic you bring to us.  
    <span style="color:red;">The quality is defined as the percentage of users join our giveaway from your link.  Any spammy traffic will be void.</span>
  </p>
	

  </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var app6 = new Vue({
  el: '#app-6',
  data: {
    mid: ''
  }
})

</script>


